<a href="https://colab.research.google.com/github/FaustoFLES/Programacion-Analitica/blob/main/Pr%C3%A1ctica_14_Limpieza_y_Transformaci%C3%B3n_de_Datos_Categ%C3%B3ricos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import data
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Escuela/Maestria/3er Semestre/Programacion Analitica/Class data/nls97.csv')
df.head()

,personid,gender,birthmonth,birthyear,highestgradecompleted,maritalstatus,childathome,childnotathome,wageincome,weeklyhrscomputer,...,colenrfeb13,colenroct13,colenrfeb14,colenroct14,colenrfeb15,colenroct15,colenrfeb16,colenroct16,colenrfeb17,colenroct17
0,100061,Female,5,1980,13.0,Married,4.0,0.0,12500.0,10 hours or more a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
1,100139,Male,9,1983,12.0,Married,2.0,0.0,120000.0,1 to 3 hours a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
2,100284,Male,11,1984,7.0,Never-married,1.0,0.0,58000.0,NaN,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
3,100292,Male,4,1982,NaN,NaN,NaN,NaN,NaN,NaN,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,NaN,NaN,NaN,NaN
4,100583,Male,1,1980,13.0,Married,4.0,0.0,30000.0,Less than 1 hour a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled

Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus

In [3]:
print(df['maritalstatus'].unique())

['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']

In [4]:
print(df['maritalstatus'].value_counts())

maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64

In [5]:
df['maritalstatus'] = df['maritalstatus'].replace('Never-married', 'Single')
print(df['maritalstatus'].unique())

['Married' 'Single' nan 'Divorced' 'Separated' 'Widowed']

In [6]:
print(df['maritalstatus'].value_counts())

maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

Ejercicio 02: Errores Tipográficos y Valores Inconsistentes: highestdegree.

In [8]:
print(df['highestgradecompleted'].unique())

[13. 12.  7. nan 15. 11. 20. 18. 14.  9. 16.  8. 19. 10. 17. 95.  6.  5.]

In [9]:
print(df['highestgradecompleted'].value_counts())

highestgradecompleted
12.0    1389
16.0    1016
14.0     750
13.0     538
18.0     407
15.0     397
17.0     388
11.0     364
20.0     333
10.0     329
9.0      292
19.0     203
8.0      198
7.0       31
6.0       16
95.0      11
5.0        1
Name: count, dtype: int64

In [10]:
def clean_grade(grade):
    if isinstance(grade, str):
        # Remove leading number and period, then convert to lowercase
        parts = grade.split('. ')
        if len(parts) > 1:
            return parts[1].lower()
        else:
            return grade.lower()
    return grade

df['highestgradecompleted'] = df['highestgradecompleted'].apply(clean_grade)

print(df['highestgradecompleted'].unique())
print(df['highestgradecompleted'].value_counts())

[13. 12.  7. nan 15. 11. 20. 18. 14.  9. 16.  8. 19. 10. 17. 95.  6.  5.]
highestgradecompleted
12.0    1389
16.0    1016
14.0     750
13.0     538
18.0     407
15.0     397
17.0     388
11.0     364
20.0     333
10.0     329
9.0      292
19.0     203
8.0      198
7.0       31
6.0       16
95.0      11
5.0        1
Name: count, dtype: int64

Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas

In [11]:
df['marital_grouped'] = df['maritalstatus'].replace(['Widowed', 'Single'], 'Single/No Partner')
print(df['marital_grouped'].value_counts())

marital_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64

In [12]:
print(df['marital_grouped'].unique())

['Married' 'Single/No Partner' nan 'Divorced' 'Separated']

In [13]:
print(df['marital_grouped'].value_counts())

marital_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64

Ejercicio 04: Tipos de Datos

In [14]:
print(df['gender'].dtype)

object

In [15]:
print(df['gender'].memory_usage(deep=True))

485054

In [16]:
if df['gender'].dtype == 'object':
    df['gender'] = df['gender'].astype('category')
    print("Column 'gender' converted to category.")
else:
    print("Column 'gender' is not of object type.")

print(df['gender'].dtype)
print(df['gender'].memory_usage(deep=True))

Column 'gender' converted to category.
category
9332